# Deps
node_modules/
pnpm-store/

# Build
dist/
build/

# Env
.env
.env.*
!.env.example

# Logs / coverage / OS
*.log
coverage/
.DS_Store

# Nest / TS
*.tsbuildinfo

# Postgres data (volúmenes locales)
pgdata/
data/
